<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 开发控制台打印日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 文件输出日志 -->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 过滤 -->
    <logger name="org.springframework" level="INFO" additivity="false"/>
    <logger name="org.mybatis" level="INFO" additivity="false"/>

    <!-- 根logger -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="File"/>
    </root>
</configuration>